<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="post" action="/map">
        위치 : <input type="text" name="place" placeholder="위치 적어주세요...">
        <input type="hidden" name="gender" value="all">
        <input type="hidden" name="age" value="all">
        <input type="submit" value="검색">
        <input type="hidden" name="web" value="yes">
    </form>
</body>

</html>